<h4>
<table>
  <% course.admin_uids.sort.each do |s| %>
<tr>
  <td><h4><%= s %></h4></td>
  <td>&emsp;</td>
  <td><h4><%= button_to 'Remove', admin_remove_path(id: course.id, uid: s), data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default' unless s == current_user.uid %></h4></td>
</tr>
<% end %>
</table>
<%= form_tag(admin_add_path, :method => "post", id: "search-form", remote: true) do %>
<h4><%= text_field_tag :uid, params[:uid], placeholder: "Add a UNet ID", autofocus: true %>
&nbsp;
<%= hidden_field_tag :id, course.id %>
<%= submit_tag "Add", class: 'btn btn-default'%></h4>
<% end %>
</h4>
