<h4>
<table>
  <% course.words.sort_by { |w| w.word }.each do |w| %>
<tr>
  <td><h4><%= w.word %></h4></td>
  <td>&emsp;</td>
  <td><h4><%= button_to 'Remove', dict_remove_path(id: course.id, word: w), data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default' %></h4></td>
</tr>
<% end %>
</table>
<%= form_tag(dict_add_path, :method => "post", id: "search-form", remote: true) do %>
<h4><%= text_field_tag :word, params[:word], placeholder: "Add a word", autofocus: focus %>
&nbsp;
<%= hidden_field_tag :id, course.id %>
<%= submit_tag "Add", class: 'btn btn-default'%></h4>
<% end %>
</h4>
