<h4>
<table>
  <% course.students.sort_by { |u| u.uid  }.each do |u| %>
<tr>
  <td><h4><%= u.name.nil? ? u.uid : "#{u.name} (#{u.uid})" %></h4></td>
  <td>&emsp;</td>
  <td><h4><%= button_to 'Unenroll', unenroll_path(id: course.id, student: u.uid), data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default' %></h4></td>
</tr>
<% end %>
</table>
<%= form_tag(enroll_path, :method => "post", id: "search-form", remote: true) do %>
<h4><%= text_field_tag :student, params[:student], placeholder: "Student username", autofocus: focus %>
&nbsp;
<%= hidden_field_tag :id, course.id %>
<%= submit_tag "Enroll", class: 'btn btn-default'%></h4>
<% end %>
</h4>
