<div class="jumbotron">
    <h2> Attendance is being taken! </h2>
    <ol>
        <h3><li>Go to <%= request.domain %></li></h3>
        <h3><li>Sign in with your Brandeis credentials</li><h3>
        <h3><li> Enter the password: <b><%= @course.password %></b></li></h3>
    </ol>

    <h3> <%= @course.expectations.where(checked_in: true).count %>/<%= @course.expectations.count %>
    students checked in </h3>

    <%= button_to 'Click here to stop taking attendance', attendance_report_path, class: 'btn btn-primary'%>
</div>
