<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h2><%= @course.name %></h2>
    <hr>
    <h3> Start attendance: </h3>
    <%= button_to 'Click here to start taking attendance!', create_attendance_path(course_id: @course.id), class: 'btn btn-primary'%>
    <hr>
    <% if @running %>
    <h3> Currently-running attendance: </h3>
        <h4>
        <% @running.each do |a| %>
        <br><%= link_to a.timestamp, a %><br>
        <%end%>
    </h4>
    <hr>
    <% end %>
    <h3> CSV download: </h3>
    <%= button_to "Download attendance records as CSV", download_csv_courses_path(id: @course.id, format: :csv), class: "btn btn-primary" %>
    <hr>
    <% if @past %>
    <h3> Past attendances: </h3>
        <h4>
        <% @past.each do |a| %>
        <br><%= link_to a.timestamp, a %><br>
        <%end%>
    </h4>
    <hr>
    <% end %>
    <h3> Expected students: </h3>
    <div id = 'students'>
    <%= render partial: 'students', locals: {course: @course, focus: false} %>
    </div>
    <hr>
    <h3> Password dictionary: </h3>
    <div id = 'dictionary'>
    <%= render partial: 'dictionary', locals: {course: @course, focus: false} %>
    </div>
    <hr>
    <h3> Course admins: </h3>
    <div id = 'admins'>
    <%= render partial: 'admins', locals: {course: @course, focus: false} %>
    </div>

</div>
