<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h2><%= @course.name %></h2>
    <div id = 'button'>
    <%= render partial: 'start_button', locals: {course: @course} %>
    </div>
    <h3> Expected students: </h3>
    <div id = 'students'>
    <%= render partial: 'students', locals: {course: @course} %>
    </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Admin uid:</strong>
  <%= @course.admin_uid %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
