<h2> Attendance is being taken! </h2>
<ol>
    <h3><li>Go to <%= request.domain %></li></h3>
    <h3><li>Sign in with your Brandeis credentials</li><h3>
    <h3><li> Enter the password: <b><%= @attendance.password %></b></li></h3>
</ol>

<h3> <%= @present.count %>/<%= @course.users.count %>
students checked in </h3>

<%= button_to 'Click here to stop taking attendance', stop_attendance_path(id: @attendance.id), class: 'btn btn-primary'%>
