<h2> <%= "#{@course.name}, #{@attendance.timestamp}" %> </h2>

<div id = 'student_count'>
<%= render partial: 'student_count' %>
</div>
<br>
<h4> <%= link_to 'Click here to return to the course', @course %>  </h4>
<%= button_to 'Click here to reopen this attendance', restart_attendance_path(id: @attendance.id), class: 'btn btn-primary'%>

<div id = 'students'>
<%= render partial: 'student_list' %>
</div>
